@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,900;1,100&display=swap');

:root {
    --primery-color : #3333;
    --color-text: #ffff;
    --color-icon: #ffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  
}

body {
    height: 100vh;
    background: rgb(20, 220, 227);
    display: flex;
    justify-content: center;
   align-items: center;
   font-family: 'Poppins', sans-serif;
   color: var(--color-text);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}



.card {
    background: #0509fd;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card p {
    color: var(--color-text);
}

.card h2 {
    margin-top: 80px;
    font-family:'Poppins', sans-serif;


    
}

.card__img {
width: 150px;
height: 150px;
border: 4px solid var(--primery-color) ;
border-radius: 50%;
overflow: hidden;
margin: 0 auto;
transform: translateY(70px);
transition: 0.5s;

}

.social {
    margin: 0 0 30px 0;
    padding: 20px 0;
}

.social a {
    color: var(--color-icon);
    margin: 0 15px;
    font-size: 25px;
}

.social a:hover {
    color: black;
}

.card .button {
width: 120px;
height: 40px;
border-radius: 10px;
border: 4px solid #ffff;
background:transparent;
color: var(--color-text);
transition: 0.5s;
font-size: large;
padding: 5px 30px;
text-decoration: none;
}

.card .button:hover {
    background:black;
    color: #ffff;
    cursor: pointer;
}


.card__img:hover {
    width: 100%;
    height: 100%;
    transform: unset;
    border-radius: unset;
    border: none;
    cursor: pointer;

}

h1 {
    font-family:'Poppins', sans-serif;
    font-weight:400;
    font-size: 1.5rem;
    position: absolute;
    padding: 0 5px;

}

.number {
    /* text-decoration: none; */
    color: var(--color-icon);
    
   
}

/* .card h3 {
   position: absolute;
   top: 25px;
   left: 20%;
} */